<!DOCTYPE html>
<html>
<head lang="en">
    <title>Musicians of the Houston Grand Opera</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<header>
    <nav>
        <img src="images/logo_placeholder.png">
        <ul class="nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Musicians</a></li>
            <li><a href="#">Perfomances</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
        </ul><!--nav-->
    </nav>
</header>
<body>
    
    
    <div id="content" class="home">
        
        <div id="banner-box">
            <div id="banner">
                <div id="quotes">
                     <blockquote>"Best orchestra performance I have ever seen!"<span> - The Guardian</span></blockquote>
                     <a href="#">ABOUT US</a>
                </div><!--quotes-->
                <div id="events">
                    <h2>Upcoming Performances</h2>
                        <div class="upcoming-events">
                            <div class="date">
                                <h2>2.13</h2>
                            </div><!--date-->
                            <div class="info">
                                <h3>LOREM IPSUM DOLOR SIT AMET</h3>
                                <p>In pretium accumsan suscipit. Pellentesque volutpat nunc consectetur.</p>
                            </div><!--info-->
                        </div><!--upcoming events-->
                     
                        <div class="upcoming-events">
                            <div class="date">
                                <h2>2.25</h2>
                            </div><!--date-->
                            <div class="info">
                                <h3>LOREM IPSUM DOLOR SIT AMET</h3>
                                <p>In pretium accumsan suscipit. Pellentesque volutpat nunc consectetur.</p>
                            </div><!--info-->
                        </div><!--upcoming events-->
                        
                         <div class="upcoming-events">
                            <div class="date">
                                <h2>3.15</h2>
                            </div><!--date-->
                            <div class="info">
                                <h3>LOREM IPSUM DOLOR SIT AMET</h3>
                                <p>In pretium accumsan suscipit. Pellentesque volutpat nunc consectetur.</p>
                            </div><!--info-->
                        </div><!--upcoming events-->
                      
                    <a href="#">EVENT CALENDAR</a>
                </div><!--events-->
            </div>
        </div><!--banner-->
        
        <div id="posts">
            <h2 class="heading">LATEST NEWS</h2>
            <div id="posts-box-outter">
                <div id="posts-box-inner">
                    <div id="post1" class="post">
                        <h2>Lorem Ipsum Dolor</h2>
                        <p>Nulla ultrices eget nisi sit amet aliquet. In pretium accumsan suscipit. Pellentesque volutpat nunc consectetur. Nulla ultrices eget nisi sit amet aliquet. In pretium accumsan suscipit. </p>
                        <a href="#">READ MORE</a>
                    </div><!--post1-->
                    <div id="post2" class="post">
                        <h2>Lorem Ipsum Dolor</h2>
                        <p>Nulla ultrices eget nisi sit amet aliquet. In pretium accumsan suscipit. Pellentesque volutpat nunc consectetur. Nulla ultrices eget nisi sit amet aliquet. In pretium accumsan suscipit. </p>
                        <a href="#">READ MORE</a>
                    </div><!--post2-->
                </div><!--posts-box-inner-->
                <div id="post3" class="post">
                    <h2>Lorem Ipsum Dolor</h2>
                    <p>Nulla ultrices eget nisi sit amet aliquet. In pretium accumsan suscipit. Pellentesque volutpat nunc consectetur. Nulla ultrices eget nisi sit amet aliquet. In pretium accumsan suscipit. </p>
                    <a href="#">READ MORE</a>
                </div><!--post3-->
            </div><!--posts-box-outter-->
        </div><!--posts-->
    </div><!--content-->
    
    <footer>
        <div id="footer-box-outter">
                <div id="footer-box-inner">
                    <div id="about-us">
                        <a href="#"><h2>ABOUT US</h2></a>
                        <p>Nulla ultrices eget nisi sit amet aliquet. In pretium accumsan suscipit. Pellentesque volutpat nunc consectetur. In pretium accumsan suscipit.</p>
                    </div><!--about-us-->
                    <div id="footer-nav">
                         <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Musicians</a></li>
                            <li><a href="#">Perfomances</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Donate</a></li>
                        </ul>
                    </div><!--footer-nav-->
                </div><!--footer-box-inner-->
                <div id="copyright">
                    <a href="#">FOLLOW US</a>
                    <p>&copy; Musicians of the Houston Grand Opera 2016</p>
                </div><!--copyright-->
            </div><!--footer-box-outter-->
        
    </footer>
</body>
</html>