@charset "UTF-8";

body, body * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    line-height: 1.4;
    font-weight: 400;
    line-height: 1.45;
}

header {
    width:100%;
    padding-top:30px;
}

/***** nav *****/
nav {
    width:960px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    height: 50px;
    margin: 0 auto;
}
nav img {
    width:175px;
    height:170px;
    float:left;
    margin-top:-60px;
}
nav ul {
    list-style-type: none;
} 
nav li {
    display: inline;
}

#content {
    width:960px;
    min-height:575px;
    margin: 0 auto;
    border-left: solid 2px black;
    border-right: solid 2px black;
    padding-top: 50px;
}

/***** banner *****/
#banner {
    width:920px;
    height:300px;
    margin-left:20px;
    background-image: url(images/banner_placeholder.png);
    background-size:cover;
}
#quotes {
    width:35%;
    float:left;
}
#events {
    float:right;
    border: solid 2px black;
    margin-right:20px;
    background-color: white;
    margin-top:-20px;
    margin-bottom:-20px;
    padding: 20px;
}
#events li {
    list-style: none;
}

/***** posts *****/
#posts {
    clear: both;
}
#posts h2.heading {
    text-align: center;
}
#posts-box-outter {
    margin: 0 auto;
    width:910px;
}
#posts-box-inner {
    float:left;
    width: 64%;
}
#post1 {
    width: 250px;
    float:left;
    border: solid 2px black;
}
#post2 {
    width: 250px;
    float:right;
    border: solid 2px black;
}
#post3 {
    width: 250px;
    float:right;
    border: solid 2px black;
}
footer {
    clear: both;
    border-top: solid 2px black;
}
/***** footer ******/
#footer-box-outter {
    margin: 0 auto;
    width:910px;
}
#footer-box-inner {
    float:left;
    width: 64%;
}
#about-us {
    width: 250px;
    float:left;
}
#footer-nav {
    width: 250px;
    float:right;
}
#copyright {
    width: 250px;
    float:right;
}