@charset "UTF-8";

body, body * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    line-height: 1.4;
    font-weight: 400;
    line-height: 1.45; 
}
header {
    width:100%;
    margin: 0 auto;
    padding-top:30px;
}
nav {
    width:960px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    height: 100px;
    margin: 0 auto;
}
nav img {
    width:250px;
    float:left;
    margin-top:-20px;
}
nav ul {
    list-style-type: none;
} 
nav li {
    display: inline;
}
#content {
    width:960px;
    border-left: solid 2px black;
    border-right: solid 2px black;
    margin: 0 auto;
    clear: both;
}
#banner {
    width:920px;
    margin: 0 auto;
}
#quotes {
    width:45%;
    float:left;
    background-color: transparent;
}
#events {
    float:right;
    background-color: transparent;
}
#posts {
    clear: both;
}