@charset "UTF-8";
@font-face{
    font-family: CaviarDreams;
    src: url ('fonts/CaviarDreams.ttf') format('truetype');
    font-weight: normal;
}
@font-face{
    font-family: CaviarDreamsBold;
    src: url ('fonts/CaviarDreams_Bold.ttf');
}
body, body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.4;
    font-family: CaviarDreams, Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 100;
}

header {
    width:100%;
    margin-top: 1px;
    height: 150px;
    background: #F2F2F2;
    border-bottom: solid 15px #BDCCD4;
}

/***** nav *****/
nav {
    width:920px;
    height: 150px;
    margin: 0 auto;
}
nav img {
    width:200px;
    height:135px;
    float:left;
}
ul.nav {
    list-style-type: none;
    display: flex;
} 

ul.nav li{
    width: 20%;
}
ul.nav li:first-of-type ul li{
    display: none;
}
ul.nav li:first-of-type:hover ul li{
    display: block;
    background: #BDCCD4;
    margin-top:-45px;
    margin-left:-5px;
    margin-bottom: 45px;
    width:200%;
    line-height: 30px;
    opacity: .8;
}

ul.nav li:hover ul a {
    margin-left: 10px;
}
ul.nav li {
    display: inline;
    line-height: 150px;
    margin-left: 65px;
}

ul.nav li:first-of-type {
    margin-left: 30px;
}
ul.nav a {
    text-decoration: none;
    color:inherit;
}

#content {
    width:960px;
    min-height:715px;
    margin: 0 auto;
    padding-top: 40px;
}

/***** front-page banner *****/
#banner-box {
    margin-left: 20px;
}
#banner {
    width:920px;
    height:300px;
}
#quotes {
    width:40%;
    float:left;
    position: relative;
    margin-left: 75px;
    margin-top: -230px;

}
#quotes blockquote {
    font-size: 25px;
    margin-bottom: 30px;
    color: white;
    text-shadow: 2px 2px black;
}
#quotes blockquote span {
    font-size: 18px;
}
#quotes a {
    padding: 1% 14% 1% 14%;
    text-decoration: none;
    background-color: #1B1464;
    color: white;
    margin-left:95px;
    font-size: 14px;
}
#events {
    height:330px;
    width:390px;
    float:right;
    border: solid 8px #BDCCD4;
    margin-right:30px;
    background-color: #F2F2F2;
    margin-top:-320px;
    position: relative;
}
.widget-title {
    font-size: 28px;
    text-align: center;
    margin-top:5px;
    margin-bottom: 5px;
}
a.event-calender {
    padding: 1% 4% 1% 4%;
    color: white;
    text-decoration: none;
    background-color: #1B1464;
    float:right;
    position: absolute;
    bottom: -8px;
    right: -8px;
}

/***** front-page "latest news" section *****/
.front-page #posts {
    clear: both;
}
.front-page #posts h2.heading {
    text-align: center;
    font-size: 1.4em;
    padding: 20px 0 20px 0;
    color: #1B1464;
}
.front-page #posts-box-outer {
    margin: 0 auto;
    width:910px;
    display: flex;
    justify-content: space-around;
}

.front-page .post {
    width:290px;
    height:250px;
    padding: 10px;
    position: relative;
}

.front-page .post a {
    padding: 2% 8% 2% 8%;
    text-decoration: none;
    background-color: #1B1464;
    color: white;
    margin-left:60px;
    position: absolute;
    bottom: 0;
    left: 0;

}

.front-page .post p {
    margin-bottom: 30px;
    font-size: 15px;
}
.front-page .post h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

<<<<<<< HEAD
/*** blog roll page ***/
.blog h2{
    font-style:bold;
}

/**** single post page *****/
.post{
    width: 80%;
    margin: auto;
}

/**** footer *****/
=======
/***** performances page *****/
.performances {
    overflow: auto;
    margin-top:10px;
}
#calendar {
    float:left;
    width:40%;
}
.performances img {
    float:right;
    margin-top:-30px;
    margin-right:3%
}

/***** footer ******/
>>>>>>> performances-page
footer {
    clear: both;
    min-height: 170px;
    background: #F2F2F2;
    border-top: solid 15px #BDCCD4;
}
#footer-box-outter {
    margin: 0 auto;
    width:910px;
    padding-top: 10px;
}
#footer-box-inner {
    float:left;
    width: 64%;
}
#about-us {
    width: 260px;
    float:left;
    
}

#about-us a h2{
    color: #1B1464;
}

#footer-nav {
    width: 250px;
    float:right;
    margin-right: 20px;
}
#copyright {
    width: 300px;
    float:right;
}
#copyright p{
    font-size: 0.8em;
}
#footer-nav li {
    list-style: none;
    margin-bottom: 5px;
}
#footer-nav a {
    text-decoration: none;
    color: inherit;
    font-size:12pt;
}